* {
    margin: 0;
    padding: 0;    
}

body {
    margin: 0;
    padding: 0;
    background-color: #e2ecfa;
    overflow-x: hidden; 
    font-family: 'Poppins', 'Montserra', sans-serif;
}
.contenar {

    margin: 10px;
    display: flex;
    background-color: #e2ecfa;
    box-shadow: 0px 20px 20px #7096cc;
    border-radius: 5px;
    transform: translate(0px, 1px);
    transition: all 2s ease-in-out;
    /* border: 5px solid black; */
    /* box-shadow: 5px 5px 1px rgb(255,255,255,0.9);  */
    /* backdrop-filter: blur(10px); */

}

.contenar div {

    display: flex;

}

.contenar div h1 {
    color: rgb(0, 123, 255);
    margin-top: 20px;
    margin-left: 10px;
    text-shadow: 10px 10px 10px rgb(0, 123, 255);
    font-size: 30px;
    font-weight: bolder;
}

#log {
    background-color: #e2ecfa;
    box-shadow: 0px 20px 20px #7096cc;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;

}

.nav-bar {

    margin-left: 250px;

}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 2px;

}


.nav-bar ul li {
    border: none;
    margin: 20px;
    transform: translate(-10px, 0px);
    transition: all 1s ease-in;

}

.nav-bar ul li a {
    color: #26ddd4;
    text-shadow: 10px 10px 10px #7096cc;
    /* background-color: #e2ecfa;
    box-shadow: 0px 10px 10px #7096cc; */
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
}

.nav-bar ul li a:hover {
    color: rgb(255, 0, 47);
    cursor: pointer;

    box-shadow: 3px 6px 10px #7096cc;
    box-sizing: border-box;
}

.blog{
    display: flex;
   flex-wrap: wrap;
   justify-items: center;
   justify-content: center;
   gap: 30px;
    margin-top: 30px;
    padding: 10px;
   
}
.blog-section div {
 
    border: none;
    display:grid;
   justify-content: center;
   height: 300px;
   width: 400px;
   margin-left: 0px;
    border-radius: 20px;
    background-color: #e2ecfa;
    box-shadow: 0px 10px 10px #7096cc;
}
.blog-section ul{
    margin-left: 20px;
    
}
